<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"></head>
	<body>
		<div class="container">
			<th:block th:include="menu :: topmenubar"></th:block>
			<br/>
			<div>
				<h5>Customer Details</h5>
			</div>
			<hr/>
			<form autocomplete="off" th:action="@{/customer/create}" th:object="${customer}" method="post" class="form-horizontal" role="form">
				<div class="row">
					<!-- Left side section - Starts -->
					<div class="col-md-6">
						<div class="form-group">
							<div class="row form-group col-md-12">
								<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
								<div class="input-group col-md-12">
									<span class="input-group-addon">Applicant Name</span>
									<input type="text" th:field="*{name}" placeholder="Surname Name Middleanme" class="form-control text-uppercase" required autofocus pattern="[A-Za-z\s]+"/>
								</div>
							</div>
							<div class="row form-group col-md-12">
								<label th:if="${#fields.hasErrors('coApplicantName')}" th:errors="*{coApplicantName}" class="validation-message"></label>
								<div class="input-group col-md-12">
									<span class="input-group-addon">Co-Applicant Name</span>
									<input type="text" th:field="*{coApplicantName}" placeholder="Surname Name Middleanme" class="form-control text-uppercase" pattern="[A-Za-z\s]+"/>
								</div>
							</div>
							<div class="row form-group col-md-12">
								<label th:if="${#fields.hasErrors('garanterName')}" th:errors="*{garanterName}" class="validation-message"></label>
								<div class="input-group col-md-12">
									<span class="input-group-addon">Garanter Name</span>
									<input type="text" th:field="*{garanterName}" placeholder="Surname Name Middleanme" class="form-control text-uppercase" pattern="[A-Za-z\s]+"/>
								</div>
							</div>
							
							<div class="row form-group col-md-12">
								<div class="input-group col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Mob 1</span>
										<input type="text" th:field="*{contactNo1}" class="form-control" required pattern="[0-9+-]+"/>
									</div>
								</div>
								<div class="input-group col-md-6">
									<div class="input-group">
										<span class="input-group-addon">Mob 2</span>
										<input type="text" th:field="*{contactNo2}" class="form-control" pattern="[0-9+-]+"/>
									</div>
								</div>
							</div>
							<div class="row form-group col-md-12">
								<div class="input-group col-md-12">
									<label for="address">Identity Details : </label>
								</div>
							
								<div class="input-group col-md-4">
									<select class="selectpicker" name="idProofType">
										<option value="AADHAR" >Aadhar</option>
										<option value="ELECTION_CARD">Election Card</option>
										<option value="LICENCE">Licence</option>
										<option value="PASSPORT">Passport</option>
									</select>
								</div>
								<div class="input-group col-md-8">
									<div class="input-group">
										<span class="input-group-addon">ID Proof Value</span>
										<input type="text" th:field="*{idProofValue}" class="form-control" placeholder="Aadhar/Election/Passport Number" required/>
									</div>						
								</div>
							</div>			
						</div>							
					</div>
				<!-- Left side section - Ends -->
				
				<!-- Right side section - Starts -->
					<div class="col-md-6">
						<div class="row form-group col-md-12">
							<div class="input-group col-md-12">
								<label for="address">Address : </label> &nbsp;&nbsp;&nbsp;
								<div class="radio">
										<label><input type="radio" name="addressType" value="OWN" checked>Own</label>
								</div>
									&nbsp;&nbsp;
								<div class="radio">
										<label><input type="radio" name="addressType" value="RENTAL" >Rent</label>
								</div>
							</div>
							<div class="input-group col-md-12">
								<textarea th:field="*{address}" class="form-control" rows="3" id="Address" required></textarea>
							</div>
						</div>
						<div class="row form-group col-md-12">
							<div class="input-group col-md-12">
								<label for="address">Occupation & Income :</label>&nbsp;&nbsp;&nbsp;
								<div class="radio">
										<label><input type="radio" name="salaryType" value="MONTHLY" checked>Monthly</label>
								</div>
									&nbsp;&nbsp;
								<div class="radio">
										<label><input type="radio" name="salaryType" value="YEARLY">Yearly</label>
								</div>							
							</div>
							<div class="input-group">
								<div class="input-group col-md-4">
									<select class="selectpicker" name="occupationType">
										<option value="JOB">Job</option>
										<option value="BUSINESS">Business</option>
										<option value="AGRICULTURE">Agriculture</option>
									</select>
								</div>
								<div class="input-group col-md-8">
									<span class="input-group-addon">Net Income</span>
									<input type="number" th:field="*{netIncome}" class="form-control" required />
								</div>
							</div>
						</div>
						
						<div class="row form-group col-md-12"></div><!-- Empty Div for alignment -->
						<div class="row form-group col-md-12">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-success btn-lg btn-block">Save</button>
							</div>
							<div class="col-sm-4">
								<button type="reset" class="btn btn-danger btn-lg btn-block">Reset</button>
							</div>
							
						</div>
						 		
					</div>
					<!-- Right side section - Ends -->
				</div>
			</form>
			<th:block th:include="tail :: bodytail"></th:block>
		</div>
	</body>
</html>