<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="head :: head"></head>
<body>
	<!-- LOGIN PAGE FORM LINK -STARTS -->
	<form th:action="@{/}" method="get">
		<button class="btn btn-lg btn-dark text-warning btn-block" type="Submit">GO TO LOGIN PAGE</button>
	</form>	
	<!-- LOGIN PAGE FORM LINK - ENDS -->
	
	<!-- Reistration Form - STARTS -->
	<div class="container py-5">
	    <div class="row">
	        <div class="col-md-12">
	        	<div align="center" th:if="${param.error}">
	        		<h3 class="text-center text-danger mb-4">ERROR!!!</h3>
	        	</div>
	            <div class="row">
	                <div class="col-md-6 mx-auto">
	                    <span class="anchor" id="formLogin"></span>
	                    <!-- form card registration -->
	                    <div class="card border-dark rounded-3">
	                        <div class="card-header text-dark">
	                            <h3 class="card-title">Register User</h3>
	                        </div>
	                        <div class="card-body">
	                            <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${employee}" method="post" class="form-horizontal" role="form">
	                                <div class="form-group">
	                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
										<input type="text" th:field="*{name}" placeholder="Name" class="form-control form-control-lg rounded-1" required autofocus/> 
	                                </div>
	                                <div class="form-group">
	                                	<label	th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="validation-message"></label>
										<input type="text" th:field="*{surname}" placeholder="Surname" class="form-control form-control-lg rounded-1" required /> 
	                                </div>
	                                <div class="form-group">
	                                	<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
	                                	<input type="text" th:field="*{email}" type="email" placeholder="Email" class="form-control form-control-lg rounded-1" required/>
	                                </div>
	                                <div class="form-group">
	                                	<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
										<input type="password" th:field="*{password}" placeholder="Password" class="form-control form-control-lg rounded-1" required/>
	                                </div>
	                                <div class="form-group">
	                                	<select id="branch" name="branch" class="form-control" th:field="*{branch}">
	                                		<option value="">-- SELECT BRANCH --</option>
			    							<option th:each="branch : ${branches}" th:text="${branch.name + ', '+branch.city}" th:value="${branch.id}"/>
			    						</select>
	                                </div>
	                                <button name="Submit" value="Register" type="Submit" th:text="Register" class="btn btn-success btn-lg float-right"/>
	                                <div class="form-group text-success"><span th:text="${successMessage}"></span></div>
								</form>
	                        </div>
	                        <!--/card-block-->
	                    </div>
	                    <!-- /form card login -->
	                </div>
	            </div>
	            <!--/row-->
	        </div>
	        <!--/col-->
	    </div>
	    <!--/row-->
	</div>
	<!-- Reistration Form - ENDS -->
	<th:block th:include="tail :: bodytail"></th:block>  						
</body>
</html>